.contact {
  .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .titleText {
      color: $black-color;
      font-size: 2em;
      font-weight: weight("thin");

      span {
        color: $green-color;
        font-size: 1.7em;
        font-weight: weight("semi-bold");
      }
    }
    p {

      text-align: center;
    }
  }

  .content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    .contactForm {
      padding: 65px 40px;
      background: rgb(235, 234, 234);
      box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
      max-width: 500px;
      width: 450px;
      margin-top: 50px;
      margin-bottom: 50px;

      h3 {
        color: $black-color;
        font-size: 1.2em;
        text-transform: uppercase;
        margin-bottom: 20px;
        font-weight: 500;
      }

      .inputBox {
        position: relative;
        width: 100%;
        margin-bottom: 20px;

        input,
        textarea {
          width: 100%;
          border: 1px solid rgb(168, 167, 167);
          padding: 10px;
          color: $black-color;
          outline: none;
          font-size: 16px;
          font-weight: 300;
          resize: none;
        }

        input[type="submit"] {
          font-size: 1em;
          color: #fff;
          margin-top: 10px;
          background: $green-color;
          text-decoration: none;
          letter-spacing: 2px;
          text-transform: uppercase;
          transition: 0.5s;
          border: 1px solid $green-color;
          max-width: 100%;
          font-weight: weight("medium");
          cursor: pointer;
        }
      }
    }

    .imgBx {
      padding: 20px 20px;
      max-width: 450px;
      margin-top: 50px;

      img {
        width: 100%;
        display: block;
        object-fit: cover;
      }
    }
  }
}
