.locations {
  .title {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .titleText {
      color: $black-color;
      font-size: 2em;
      font-weight: weight("thin");

      span {
        color: $green-color;
        font-size: 1.7em;
        font-weight: weight("semi-bold");
      }
    }

    p {

      text-align: center;
    }

    .btn {
      font-size: 1em;
      color: $white-color;
      background-color: $green-color;
      display: inline-block;
      padding: 10px 30px;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 2px;
      margin-top: 40px;

      @include transition-ease;

      &:hover {
        letter-spacing: 6px;
      }
    }
  }

  .content {
    display: flex;
    justify-content: center;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    margin-top: 50px;

    .box {
      width: 340px;
      margin: 20px;
      border: 1px solid $green-color;
      box-shadow: 0 5px 35px rgba(0, 0, 0, 0.8);
      position: relative;

      .imgBx {
        position: relative;
        width: 100%;
        height: 300px;
        overflow: hidden;
        transition: 0.5s !important;

        img {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          display: block;
          object-fit: cover;
        }
      }

      .text {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 25px;
        text-transform: uppercase;
        font-weight: weight("medium");
        word-spacing: 8px;
        color: $white-color;
        letter-spacing: 1px;
        z-index: 10;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 1;
        background: linear-gradient(to right, rgba($dark-green-color, 0.5));
        transition: opacity 0.5s !important;

        h3 {
          position: relative;

          &::before {
            content: "";
            height: 3px;
            width: 30px;
            background-color: $white-color;
            position: absolute;
            top: 2px;
            left: -12px;
            @include transition-ease;
          }

          &::after {
            content: "";
            height: 3px;
            width: 30px;
            background-color: $white-color;
            position: absolute;
            bottom: 2px;
            right: -12px;
            @include transition-ease;
          }
        }

        &:hover {
          h3 {
            opacity: 0;
          }

          opacity: 0;
          transition: opacity 0.5s !important;
        }
      }
    }
  }
}
