.overview {
  position: relative;

  .title {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1 !important;
    height: 100%;
    background-color: $green-color;
    opacity: 0.8;
    width: 100%;
    display: flex;
    padding: 20px 0px;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .titleText {
      color: $white-color;
      font-weight: weight("semi-bold");
      font-size: 4em;
      position: relative;

      @include transition-ease;

      &::before {
        content: "";
        height: 8px;
        width: 55px;
        background-color: $white-color;
        position: absolute;
        top: 7px;
        left: -22px;
        @include transition-ease;
      }

      &::after {
        content: "";
        height: 8px;
        width: 55px;
        background-color: $white-color;
        position: absolute;
        bottom: 7px;
        right: -22px;
        @include transition-ease;
      }
    }

    .copyrightText {
      margin-top: 10px;
      padding: 8px 40px;
      border-top: 3px solid $white-color;
      text-align: center;

      p {
        color: $white-color;
      }
    }

    .social-icons {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;

      .fa {
        padding: 10px;
        font-size: 20px;
        width: 40px;
        text-align: center;
        text-decoration: none;
        margin: 5px 12px;
        border-radius: 50%;
        opacity: 1;
        cursor: pointer;
        @include transition-ease;
      }

      .fa-google {
        background: #e7412b;
        color: white;
      }

      .fa-linkedin {
        background: #016fa1;
        color: white;
      }

      .fa-youtube {
        background: #960101;
        color: white;
      }

      .fa-instagram {
        background: #0f4b75;
        color: white;
      }

      .fa-facebook {
        background: #2b457e;
        color: white;
      }

      .fa-twitter {
        background: #55acee;
        color: white;
      }
    }
  }

  .content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    .box {
      width: 100%;
      background: $white-color;
      // border: 3px solid $green-color;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 5px 35px rgba(0, 0, 0, 0.8);

      video {
        width: 100%;
        height: 100%;
      }
    }
  }
}
